<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Configurazione Database -->
    <add key="DatabaseType" value="SQLite" /> <!-- SQLite o SQLServer -->
    <add key="ConnectionString" value="Data Source=DidoGest.db" />
    <!-- Per SQL Server: Server=.;Database=DidoGest;Trusted_Connection=True;TrustServerCertificate=True; -->
    
    <!-- Configurazione Azienda -->
    <add key="RagioneSociale" value="La Tua Azienda S.r.l." />
    <add key="PartitaIVA" value="12345678901" />
    <add key="CodiceFiscale" value="12345678901" />
    <add key="Indirizzo" value="Via Example 123" />
    <add key="CAP" value="00100" />
    <add key="Citta" value="Roma" />
    <add key="Provincia" value="RM" />
    <add key="Telefono" value="+39 06 12345678" />
    <add key="Email" value="info@tuaazienda.it" />
    <add key="PEC" value="tuaazienda@pec.it" />
    
    <!-- Configurazione Fatturazione Elettronica -->
    <add key="CodiceSDI" value="G4AI1U8" />
    <add key="UrlSDI" value="https://sdi.fatturapa.gov.it/SdI2FatturaPA/v2.0" />
    <add key="PathFattureXML" value=".\FattureElettroniche\" />
    <add key="PathCertificatoFirma" value=".\Certificati\firma.pfx" />
    <add key="PasswordCertificato" value="" /> <!-- Inserire password certificato -->
    
    <!-- Configurazione Magazzino -->
    <add key="MagazzinoPrincipaleId" value="1" />
    <add key="ListinoBaseId" value="1" />
    <add key="GestioneMultimagazzino" value="true" />
    <add key="NumeroMaxMagazzini" value="200" />
    <add key="NumeroMaxListini" value="10000" />
    
    <!-- Configurazione Documenti -->
    <add key="PathModelli" value=".\Modelli\" />
    <add key="PathStampe" value=".\Stampe\" />
    <add key="FormatoNumeroDocumento" value="000000/yyyy" />
    
    <!-- Configurazione Contabilità -->
    <add key="EsercizioContabile" value="2025" />
    <add key="ValutaPredefinita" value="EUR" />
    <add key="AliquotaIVAStandard" value="22" />
    <add key="AliquotaIVARidotta" value="10" />
    <add key="AliquotaIVAMinima" value="4" />
    
    <!-- Configurazione Archivio -->
    <add key="PathArchivioDocumentale" value=".\Archivio\" />
    <add key="DimensioneMassimaFileMB" value="50" />
    <add key="FormatiFi leConsentiti" value=".pdf,.doc,.docx,.xls,.xlsx,.jpg,.jpeg,.png,.zip" />
    
    <!-- Configurazione Sistema -->
    <add key="AbilitaLog" value="true" />
    <add key="PathLog" value=".\Logs\" />
    <add key="LivelloLog" value="Info" /> <!-- Debug, Info, Warning, Error -->
    <add key="BackupAutomatico" value="true" />
    <add key="OraBackup" value="23:00" />
    <add key="PathBackup" value=".\Backup\" />
    
    <!-- Configurazione UI -->
    <add key="Tema" value="Light" /> <!-- Light o Dark -->
    <add key="ColorePrimario" value="DeepPurple" />
    <add key="ColoreSecondario" value="Lime" />
    <add key="Lingua" value="it-IT" />
    
    <!-- Configurazione Sicurezza -->
    <add key="RichiedeAutenticazione" value="false" />
    <add key="DurataSessioneMinuti" value="480" />
    <add key="NumeroTentativiLogin" value="3" />
    <add key="TempoBloccaggioMinuti" value="30" />
    
    <!-- Configurazione Email -->
    <add key="ServerSMTP" value="smtp.example.com" />
    <add key="PortaSMTP" value="587" />
    <add key="UsaSSL" value="true" />
    <add key="UsernameSMTP" value="" />
    <add key="PasswordSMTP" value="" />
    <add key="EmailMittente" value="noreply@tuaazienda.it" />
  </appSettings>
  
  <connectionStrings>
    <add name="DidoGestDb" 
         connectionString="Data Source=DidoGest.db" 
         providerName="Microsoft.EntityFrameworkCore.Sqlite" />
    <!-- Per SQL Server: -->
    <!-- <add name="DidoGestDb" 
         connectionString="Server=.;Database=DidoGest;Trusted_Connection=True;TrustServerCertificate=True;" 
         providerName="Microsoft.EntityFrameworkCore.SqlServer" /> -->
  </connectionStrings>
</configuration>
